.cardList{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width:100%;

}
.cardList .card{
  width: calc(33% - 4px);
  margin:5px 2px;
}
.cardList .img{
  height:100px;
  background-size:cover;
}
.cardList .specialname{
  font-size: 14px;
  padding:5px 0px;
  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  /*line-height: 14px;*/
  /*overflow:hidden;
  text-overflow:ellipsis;
  display:-webkit-box;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:2;*/
}
