.title{
  height:50px;
  line-height: 50px;
  width:100%;
  box-sizing: border-box;
  display: flex;
  background-color:#fff;
  border-bottom:1px solid #eee;
}
.title .search{
  width:calc(100% - 40px);
  text-align: center;
}
.title .iconfont{
  padding:0px 10px;
}

.title span:hover, span:focus{
  color: #20a0ff;
}
