.title{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;
  height:50px;
  line-height: 50px;
  width:100%;
  box-sizing: border-box;
  display: flex;
  color:#fff;
  background: rgb(212, 68, 57);
  border-bottom:1px solid #eee;
}
.title .search{
  width:calc(100% - 40px);
  text-align: center;
}
.title .iconfont{
  padding:0px 10px;
}

.title span:hover, span:focus{
  color: #20a0ff;
}
.ca-position{
  margin-top:85px;
}
