.tabbar {
  width:100%;
  height:35px;
  line-height: 35px;
  display: flex;
  background-color: #fff;
}
.tabbar a {
  height: 100%;
  text-align: center;
  color: #000;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
.tabbar a:focus,a:hover{
  color: #20a0ff;
  border-bottom:3px solid #20a0ff;
}
