.TabSpan {
  width:100%;
  height:35px;
  line-height: 35px;
  display: flex;
  background-color: #fff;
  position: fixed;
  top:50px;
  z-index: 99;
}
.TabSpan .tab {
  position: relative;
  height: 100%;
  color: #000;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
.tabbar .span{
   margin: auto;
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
}
/* 设置一个div 在另一个div 里居中*/
.tabbar .span:focus,.span.active{
  color: rgb(212, 68, 57);
  border-bottom:3px solid rgb(212, 68, 57);
}
