.bottomNav{
  position: absolute;
  bottom:0px;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: #fff;
}
.bottomNav a {
  height: 100%;
  text-align: center;
  color: #000;
  line-height: 49px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 50px;
  width: 20%;
  text-align: center;
}
.bottomNav a.active , a:focus{
  font-size: 16px;
  color: #26a2ff;
  border-top: 3px solid #26a2ff;
}
.bottomNav a:hover{
  color: #20a0ff;
}
