
.bottomNav{
  position: fixed;
  bottom:0px;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  z-index: 99;
  color: #fff;
  background:#282828;
}
.bottomNav a {
  text-align: center;
  color: #808080;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 20%;
}
.bottomNav a:focus,a.active {
  color: #fff;
}
.bottomNav link{
  display:flex;
  flex-direction:column;
}
.bottomNav span{
  display: block;
}
.bottomNav .barTitle{
  font-size: 8px;
}
.bigicon{
  font-size: 25px;
  cursor: pointer;
}
